# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

#Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.*


# typescript
*.tsbuildinfo

app-example

.eslintcache

.vercel

# android build
.gradle/
android/.gradle/
android/build/
android/app/build/

# android artifacts
*.apk
*.aab
*.apks
universal.apk
output/
android/local.properties

# keystore
*.keystore
*.jks

# bundletool
bundletool*.jar

# maestro temp
.maestro/screenshots/
.maestro/tmp/

# jest
coverage/

# Node
logs/
*.log

# editors
.idea/
.vscode/
